---
const { t } = Astro.props;
---

<section class="home-center-box">
  <div class="home-photo">
    <img
      src="/src/assets/13rianPhoto.JPG"
      alt={`Foto de perfil de Brian Vargas`}
    />
  </div>
  <div class="home-name">
    <h1>{t('home.name')}</h1>
  </div>
  <div class="home-role">
    <h2>{t('home.role')}</h2>
  </div>
  <div class="home-links">
    <a class="home-link-btn" href="#" target="_blank" aria-label="LinkedIn">
      <img src="/linkedin.svg" alt="LinkedIn" />LinkedIn
    </a>
    <a class="home-link-btn" href="#" target="_blank" aria-label="GitHub">
      <img src="/github.svg" alt="GitHub" />GitHub
    </a>
  </div>
</section>
