---
const { t } = Astro.props;
---

<section class="aboutme-center-box" id="aboutme">
  <div class="aboutme-title">
    <h2>{t('aboutme.title')}</h2>
  </div>
  <div class="aboutme-description">
    <p>{t('aboutme.description')}</p>
  </div>
</section>
