---
import "../styles/technologies.css";

const { t } = Astro.props;
---

<section class="technologies-center-box" id="technologies">
  <div class="technologies-title">
    <h2 data-i18n="technologies.title">{t('technologies.title')}</h2>
  </div>
  <ul class="technologies-list">
    <li class="technology-item">Astro</li>
        <!-- Add more technologies here -->
    </ul>
</section>
