---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
import LanguagePicker from '../components/LanguagePicker.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const { lang, t } = Astro.props
const currentLang = Astro.currentLocale || 'es';
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link rel="stylesheet" href="/src/styles/layout.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("head.title")}</title>
		<script id="translations-data" type="application/json" is:inline>
			{JSON.stringify(ui)}
		</script>
		<script src="/Layout.js" is:inline></script>
	</head>
	<body>
		<header>
			<h1 class="header-title">13rian</h1>
			<nav class="header-nav">
				<ul>
					<li>
						<a href={getRelativeLocaleUrl(currentLang,"#home")}>{t("layout.home")}</a>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(currentLang,"#aboutme")}>{t("layout.about")}</a>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(currentLang,"#projects")}>{t("layout.projects")}</a>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(currentLang,"#technologies")}>{t("layout.technologies")}</a>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(currentLang,"#contactme")}>{t("layout.contact")}</a>
					</li>
				</ul>
			</nav>
			<div class="header-actions">

				<button id="toggle-dark">
					<span id="dark-label">🌙</span>
				</button>

				<LanguagePicker />

			</div>
		</header>

		<main class="p-8">
			<slot />
		</main>

		<footer>
			<span>{t("layout.footer")}</span> — {new Date().getFullYear()}
		</footer>
	</body>
</html>
